/* styling for the card  */
.customerCard {
  margin-top: 7.9%;
}

.customerCard .cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fafafa;
}

.card:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
}

.card__content h4 {
  color: #3dbed5;
}

.card__content p {
  color: #666060;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
